$blue: rgb(0, 127, 255);
$font-mono: 'Roboto Mono', monospaced;

@import 'breakpoints';
@import 'links';
@import 'animations';
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,400italic);
// bower:scss
// endbower

body {
  font-family: $font-mono;
}

h1 {
  font-size: 3rem;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 50px;
}

.row {
  margin-bottom: 50px;
}

.counter {
  font-size: 2rem;
}

.progress {
  border-bottom: 1px solid $blue;
  padding: 0;
}

.progress-bar {
  background: $blue;
  transition: width 1s linear;
  text-indent: -9999px;
  height: 10px;
}

.buttons .row {
  position: abolute;
  top: 0;
}

.button {
  text-align: center;
}

// Media queries
@media #{$mq-sm} {
  .container {
    width: 25rem;
  }
}

@media #{$mq-md} {
  .container {
    width: 30rem;
  }
}

@media #{$mq-lg} {
  .container {
    width: 40rem;
  }
}
