@import '../../styles/variables';

.button {
  background: none;
  border: 0;
  cursor: pointer;
  font-family: $app-font-mono;
  font-size: $app-font-size-small;
  padding: .375rem .375rem .635rem;
  position: relative;
  text-decoration: none;
  transition: height .3s, color .3s;
  width: auto;

  &::after {
    background: $app-black;
    bottom: 0;
    content: '';
    height: .125rem;
    left: 0;
    position: absolute;
    transition: height .3s, background .3s;
    width: 100%;
  }
}

.button:hover {
  color: $app-main;

  &::after {
    background: $app-main;
    height: .375rem;
  }
}

.button:focus {
  outline: none;
}

.enter {
  animation-delay: 1s;
}
