// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,400italic,700,700italic);
@import '../bower_components/typi/scss/_typi.scss';

/**
 * App-wide Styles
 */

// Variables
$breakpoints: (
  small: 800px,
  large: 1200px
);

$typi: (
  null: (16px, 1.5),
  small: (16px, 1.5),
  large: (20px, 1.2)
);

$h1-map: (
  null: (3.129rem, 1.2),
  large: (2.3353rem, 1.3)
);

$black: rgb(15, 15, 15);
$grey: rgb(240, 240, 240);
$blue: rgb(0, 10, 255);


// Overall styles
* {
  box-sizing: border-box;
}

a {
  color: $black;
  &:hover {
    color: $blue;
  }
}

html {
  font-family: 'Roboto Mono', monospace;
  @include typi-base();
}

body {
  padding-bottom: 100px;
  background: $grey;
}

.container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 25rem;
}

h1 {
  @include typi($h1-map)
  margin: 0;
  font-weight: 700;
}

p {
  margin: 0;
}

// Header
.header {
  margin: 2rem auto 4rem auto;
}

.info {
  margin: 2rem auto;
  padding: 0 15px;
  border-top: 1px solid $black;
}

.info p {
  margin: 1rem 0;
  width: 100%;
}

.button-hide {
  margin-top: 1rem;
}

// Component styles are injected through gulp
// injector
@import 'main/main';
// endinjector
