$app-base: 16px;

$app-background: #f0f0f0;
$app-main: #000aff;
$app-black: #0f0f0f;

$app-font-mono: 'Roboto Mono', monospaced;
$app-font-size-small: 1rem;
$app-font-size-big: 2rem;

$app-spacing: 3rem;