@import '../../../styles/variables';

.about-text {
  margin-top: 2rem;
  font-family: $app-font-mono;
}

.about-link {
  color: $app-black;
  transition: color 0.3s;

  &:hover {
    color: $app-main;
  }
}

.hide-about {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
