<div class="container">
  <div class="counter">
    <div class="counter-time">{{ main.counter | timeFilter }}</div>
    <div class="counter-progress-bar-container">
      <div class="counter-progress-bar" style="width: {{main.progress}}%"></div>
    </div>
  </div>
  <div class="buttons">
    <div class="start-buttons" ng-show="!main.playing">
      <button class="btn-start" ng-click="main.start(true, 25)">Pomodore</button>
      <button class="btn-start" ng-click="main.start(true, 1)">Short break</button>
      <button class="btn-start" ng-click="main.start(true, 15)">Long break</button>
    </div>
    <div class="pause-buttons" ng-show="main.playing">
      <button class="btn-pause" ng-click="main.pause()">Pause</button>
      <button class="btn-pause" ng-click="main.stop()">Stop</button>
    </div>
  </div>
</div>
