.counter {
  margin: 1rem 0;
  width: 100%;
  font-size: 2rem;
  text-align: center;
}

.counter-progress-bar-container {
  margin: 1rem 0;
  width: 100%;
  border-bottom: 1px solid blue;
}

.counter-progress-bar {
  height: 8px;
  background: blue;
  transition: width 1s linear;
}

.buttons {
  width: 100%;
  margin: 1rem 0;
}

.start-buttons, .pause-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
