@import '../../styles/variables';

.ProgressBarContainer {
  margin: 1rem 0;
  width: 100%;
  border-bottom: 1px solid $blue;
}

.ProgressBar {
  height: 8px;
  background: $blue;
  transition: width 1s linear;
}
