@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,700);
@import './styles/variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: $app-base;
}

body {
  background: $app-background;
  color: $app-black;
}
