@import '../../../styles/variables';

.header {
  margin: 2rem auto 4rem;
  text-align: center;
}

.title {
  margin: 0;
  font-family: $app-font-mono;
  font-weight: $app-font-header-weight;
  font-size: $app-font-size-header;
}

.tagline {
  margin: 0;
  font-family: $app-font-mono;
}
